$primary-blue: #001689;
$secondary-blue: #3345a1;
$third-blue: #2d3350;
$fourth-blue: #6e7183;
$footer-blue: #1c2866;
$quote-text: #5b667f;
$quote-dark: #17182e;
$quote-marks: #bdc4d5;

$primary-yellow: #ffde00;
$primary-yellow--hover: #E6C700;

$white: #fff;
$light-grey: #d8dbe2;
$mid-grey: #cfd1d8;
$dark-grey: #9a9ea9;
$black: #000;

