$font-nova-stack: gill-sans-nova,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$font-source-stack: source-sans-pro,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$font-aleo-stack: 'Aleo',
serif;
$font-open-sans-stack: 'Open Sans',
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$font-lato-stack: 'Lato',
Helvetica Neue,
Helvetica,
Arial,
sans-serif;

//testing