<!-- footer.njk -->
<footer class="footer" id="footer">
  <div class='footer-wrap' >
    <div class="footer__header">
      <img src="images/footer/Logo_small.png" alt="" class="footer__logo">
      <h3 class="footer__title">Steel stockholders of carbon, alloy, stainless and tool steel, aluminium, brass, tube, box section and sheet</h3>
    </div>
    <div class="footer__content">
      <nav class="footer__item footer__nav">
        <ul>
          <li class="footer__nav__item"><a href="about.html" class="footer__nav__link">About us</a></li>
          <li class="footer__nav__item"><a href="products.html" class="footer__nav__link">Products</a></li>
          <li class="footer__nav__item"><a href="faqs.html" class="footer__nav__link">FAQs</a></li>
          <li class="footer__nav__item"><a href="#" class="footer__nav__link">Contact us</a></li>
          <li class="footer__nav__item"><a href="#" class="footer__nav__link">Offers</a></li>
        </ul>
      </nav>

      <nav class="footer__item footer__nav">
        <ul>
          <li class="footer__nav__item"><a href="#" class="footer__nav__link">Terms &amp; Conditions</a></li>
          <li class="footer__nav__item"><a href="#" class="footer__nav__link">Quality Policy</a></li>
          <li class="footer__nav__item"><a href="#" class="footer__nav__link">Privacy Policy</a></li>
          <li class="footer__nav__item"><a href="#" class="footer__nav__link">Environmental Policy</a></li>
        </ul>
      </nav>

      <address class="footer__item footer__address">
        Acton Bright Steel Limited<br>
        Gordon Road<br>
        The Causeway<br>
        Staines, Surrey<br>
        TW18 3BG

        <div class="footer__address__bottom">
          <a href="tel:00441784455273" class="footer__address__link">
            <span class="footer__address__link--bold">Tel:</span>
            01784 455273
          </a>
          <a href="mailto:sales@actonbrightsteel.co.uk" class="footer__address__link">
            <span class="footer__address__link--bold">Email:</span>
            sales@actonbrightsteel.co.uk
          </a>
        </div>
      </address>

      <div class="footer__item footer__ask-expert">
        <p class="footer__ask-expert__text">If you can’t find the specification you want, why not ask one of our experts and see how we can help you.</p>

        <a href="askexpert.html" class="btn btn--rectange">Ask Our Experts</a>
      </div>
    </div>
    <div class="footer__site-info">
      <div class="footer__site-info__inner">
        <p class="footer__site-info__text">&copy; Copyright 2019 Acton Bright Steel Limited</p>
        <a class="footer__site-info__text footer__site-info__text--disclaimer">Disclaimer</a>
        <a href="https://www.arthaus.co.uk/" class="footer__site-info__text" target="_blank">Design by Arthaus</a>
      </div>
    </div>
  </div>
  
</footer>