.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 3px solid $primary-yellow;
    background-color: $primary-blue;
    color: white;
    font-family: gillSanBold;
    z-index: 5;
    height: 125px;

    @media only screen and (max-width: 1024px) {
        height: 135px;
    }
}

.header__search-wrap {
    position: absolute;
    left: 0;
    right: 0;
    height: 35px;
    // padding: 0 25px;
    text-align: right;
}

.header__search-wrap,
.header_search-input {
    background-color: $secondary-blue;
}

.header_search-input {
    position: relative;
    height: 30px;
    border: 0;
    color: $white;
    text-align: right;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 25px;
}

.gsc-input {
    padding-top: 5px;
}

input#gsc-i-id1::placeholder {
    font-size: 12px;
    color: #bcbcbc !important;
    opacity: 1;
}

#gsc-iw-id1 {
    border: none;
    background-color: transparent;
}

input#gsc-i-id1 {
    background-color: transparent;
    text-align: right;
    color: white;
    font-size: 15px;
    max-width: 300px;
    // padding: 15px 0 !important;
}

input#gsc-i-id1::placeholder {
    font-size: 15px;
}

.cse .gsc-search-button-v2,
.gsc-search-button-v2 {
    padding: 3px 0 !important;
}

.gsc-search-button-v2 svg {
    width: 20px !important;
    height: 20px !important;
}

.nav__anchor {
    position: relative;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    margin: 20px auto 0;
    padding: 35px 20px 0;
}

.header__right a {
    color: $white;
}

.header__right {
    width: 60%;
    padding-left: 20px;
    font-family: gillSanMed;

}

.header__logo {
    max-width: 380px;
    position: relative;

    @media only screen and(min-width:1025px) {
        bottom: 15px;
    }

    @media only screen and (max-width: 600px) {
        max-width: 250px;
        // bottom: 0;
    }

    @media only screen and (max-width: 300px) {
        max-width: 220px;
        //bottom: 0;
    }
}

.header__phone {
    display: block;
    height: 25px;
    text-align: right;
    font-size: 25px;
    position: relative;
    top: -10px;
    margin-bottom: 5px;

    @media only screen and (max-width: 390px) {
        width: 100%;
    }
}

.header__phone__icon {}

.header__phone__icon::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url("../images/icons/phone.svg");
    background-size: contain;
}

.header__phone__text {
    display: none;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__main-item {
    display: inline-block;
    padding: 0 0 25px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav__main-item-link {
    position: relative;
}

.nav__main-item__icon {
    width: 25px;
}

.nav__main-item-link:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: $primary-yellow;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

.nav__main-item-link--active:after,
.nav__main-item-link:hover:after {
    opacity: 1;
    transform: scale(1);
}

// Services Navigation Position and Styling
//
// Alter these variables to change services navigation widths and heights
$mid-nav-height: 250px;
$mid-nav-left-width: 400px;
$mid-nav-item-height: 40px;
$mid-nav-padding-top-height: 15px;

.nav__mid-wrapper {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 3px);
    width: 100%;
    height: $mid-nav-height;
    padding-top: 15px;
    background-color: $third-blue;
    max-width: 1400px;

}

.nav__mid-item {
    max-width: $mid-nav-left-width;
    height: $mid-nav-item-height;
    text-align: left;
    padding: 0 20px;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: $fourth-blue;
        padding-left: 30px
    }
}

.nav__mid-item-link {
    display: block;
    width: $mid-nav-left-width;
    font-family: $font-source-stack;
    font-weight: 500;
    line-height: $mid-nav-item-height;
    font-size: 16px;
}

.nav__mid-item-link--mobile,
.nav__mid-item--back,
.nav__mid-item-link--back,
.nav__inner-item--back {
    display: none;
}

.nav__inner-wrap {
    position: absolute;
    display: none;
    left: $mid-nav-left-width;
    top: 0px;
    width: calc(100vw - #{$mid-nav-left-width});
    padding: $mid-nav-padding-top-height 0 0 $mid-nav-padding-top-height;
    column-count: 3;
    background: $fourth-blue;
    height: $mid-nav-height;
    max-width: 1000px;
}

.nav__inner-item {
    height: $mid-nav-item-height;
    text-align: left;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: $third-blue;
        padding-left: 15px;
    }
}

.nav__inner-item {
    height: $mid-nav-item-height;
    text-align: left;
}

.nav__inner-item-link {
    display: block;
    padding-left: 15px;
    line-height: $mid-nav-item-height;

}

td.gsc-search-button {
    width: 12px;
    max-height: 12px;
    overflow: hidden;
}

@media only screen and (min-width: 1025px) {
    .nav__main-item:hover .nav__mid-wrapper {
        display: block;
    }

    .nav__mid-item:hover .nav__inner-wrap,
    .nav__main-item:hover .nav__inner-wrap--first {
        display: block;
    }
}

@media only screen and (min-width: 1025px) {
    .nav__main-item__home-btn {
        display: none;
    }

    .nav__main-item__icon {
        display: inline;
    }
}

@media only screen and (max-width: 1024px) {
    .nav__main-item__home-btn {
        display: inline;
    }

    .nav__main-item__icon {
        display: none;
    }

    .header {
        border-bottom: 0px;
        border-bottom: 2px solid $primary-yellow;
    }

    .header__inner {
        flex-direction: column;
        //align-items: center;
        justify-content: center;
        padding: 30px 0 20px;
        min-width: 360px;
    }

    .header__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0px 25px 20px;
    }

    .header__right {
        // reset
        padding-left: 0;
    }

    .header__left,
    .header__right {
        width: 100%;
    }

    .header__phone {
        position: relative;
        padding: 0 25px;
        //border-bottom: 2px solid $primary-yellow;
        font-size: 20px;
    }

    .header__phone__text {
        position: absolute;
        left: 25px;
        text-transform: uppercase;
        padding-right: 25px;
        display: inline-block;
        font-size: 18px;

    }

    // .header__phone__text {}

    .nav {
        display: none;
    }

    .nav--mobile {
        display: block;
        position: relative;
        background-color: $third-blue;

        @media only screen and (max-width: 600px) {
            top: -10px
        }
    }

    .nav--mobile .nav__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .nav--mobile .nav__main-item {
        height: 35px;
        width: 100%;
        padding-bottom: 0;
    }

    .nav--mobile .nav__main-item-link {
        display: block;
        padding-left: 20px;
        text-align: left;
    }

    .nav--mobile .nav__main-item,
    .nav--mobile .nav__main-item-link {
        height: 35px;
        line-height: 35px;
    }

    .nav--mobile .nav__main-item-link--active {
        background-color: $secondary-blue;
    }

    // Remove yellow bottom of selected
    .nav--mobile .nav__main-item-link:after {
        content: none;
    }

    .nav__mid-wrapper {
        display: none;
        position: absolute;
        top: 0;
        height: 280px;
        padding-top: 0;
        z-index: 5;
    }

    .nav__mid-wrapper--mobile,
    .nav__mid-item-link--mobile {
        display: block;
    }

    .nav__mid-item {
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
        text-align: left;
    }

    .nav__mid-item-link--desktop {
        display: none;
    }

    .nav__mid-item--back,
    .nav__mid-item-link--back,
    .nav__inner-item--back {
        display: block;
        background-color: $footer-blue;
    }

    .nav__inner-item--back {
        column-span: 2;
    }

    .nav__inner-wrap--mobile {
        position: absolute;
        display: block;
        left: 0;
        top: 0px;
        width: 100%;
        height: 380px;
        padding: 0;
        column-count: 2;
        background: $fourth-blue;
        z-index: 10;
    }

    .nav__inner-item {
        height: 45px;
    }

    .nav__inner-item-link {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.4;
    }
}