.services-nav {
    min-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;

    @media only screen and (max-width: 520px) {
        flex-direction: column;
    }
}

.services-nav__btn-wrapper {

    @media only screen and (max-width: 520px) {
        width: 90%;
        margin: 1rem auto;
    }
}

.services-nav__btn-wrapper:last-child {
    text-align: right;
}


.services-nav__btn {
    position: relative;
    display: inline-flex;
    flex-direction: column;

}

.previous-btn,
.next-btn {
    text-transform: capitalize;
    color: $quote-text;
    font-family: $font-nova-stack, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 15px;
}

.previous-btn::after {
    content: 'Previous';
    color: $primary-blue;
    text-transform: uppercase;
    font-family: $font-nova-stack;
    font-size: 15px;
    font-weight: 600;

    position: absolute;
    top: -20px;
    left: 15px;


}



.next-btn::before {
    content: 'Next';
    color: $primary-blue;

    text-transform: uppercase;
    font-family: $font-nova-stack;
    font-size: 15px;
    font-weight: 600;

    position: absolute;
    top: -20px;
    right: 20px;
}