.services-nav__btn {
  display: block;
  min-width: 13px;
  height: 25px;
  background-image: url("../images/about_us/next_icon.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: -30px;
  position: relative;
}
