{% macro item(stockLink,imgSrc, stockTitle, stockSubTitle) %}
<li class="stock__item stock__item--small wow slideInUp">
  <a style="color:black" target="blank" href="{{ stockLink }}"
    class="stock__item__link" download>
    <article
      class="stock__article">
      <img src="{{imgSrc}}" alt="{{stockTitle}} {{stockSubTitle}}" class="stock__img">
      <div class="stock__item__bottom">
        <h4 class="title title--small title--center title--blue">{{ stockTitle
          }}</h4>
        <p class="stock__item__sub-title">{{ stockSubTitle }}</p>
      </div>
    </article>
  </a>

</li>
{% endmacro %}