<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
  {% include "partials/navigation.njk" %}
  <main role="main" class="main">
    <div class="page-not-found">
      <h2 class="title title--big title--blue">Page not found</h2>
      <p class="title title--medium">Please use the site navigation to find the correct page.</p>
    </div>  
  </main>
{% endblock %}