<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
  {% set activePage = "faqs" %} 
  {% include "partials/navigation.njk" %}
  <main role="main" class="main main--faq">
    <div class="faq-wrapper">
  
      <h2 class="title title--big title--blue">Frequently Asked Questions</h2>

      <ul class="faq-list">
        <li class="faq-list__item">
          <p class="faq-list__item__title">What types of Metal do Acton Bright Steel stock?</p>
          <p class="faq-list__item__answer">We stock over 2000 different sizes of freecutting, carbon &amp; alloy steels and is the largest range of bright steel steel stocked in the South of England. In addition, we also have a comprehensive range of stainless and tool steel. Over the last few years we have added aluminium, brass and tube, box section and sheet to provide a multi metal "one stop shop" service to many thousands of customers.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">Can you saw bars up into pieces for me?</p>
          <p class="faq-list__item__answer">Yes, our fully automatic band saws enable us to offer a quick, accurate and competitive sawing service from 1 to 10,000 off. We also cut many of our bars in half or in three, to cater for individual customers bar feeds. Free issue cutting can also be undertaken.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">Can you chamfer bars for me?</p>
          <p class="faq-list__item__answer">Yes, we can offer chamfering in-house up to 65mm diameter, whether it be for 3 metre lengths, 1 metre shafts or to your required length</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">Are there any other services you can offer?</p>
          <p class="faq-list__item__answer">Yes, our Sales Staff will be happy to advise you on Annealing, Precision Grinding, Crack Detection, Ultrasonic Testing and Degreasing.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">Do you deliver and how much would it cost?</p>
          <p class="faq-list__item__answer">We offer a next day service at no extra charge to the majority of the South of England, please call our Sales Team 01784 455273 for a quote and expected delivery time. Alternatively you can collect your order from our warehouse, conveniently located near junction 13 of the M25.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">How can I be sure of what I'm buying?</p>
          <p class="faq-list__item__answer">We have a comprehensive goods inward procedure through which all incoming materials are processed, before they are put into picking stock. We also operate a computerised stock control system which has been developed "in house" over many years which provides us with full batch traceability on all bars, sawn pieces and short ends.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">I need to have Certificates with my goods, can you help?</p>
          <p class="faq-list__item__answer">We can supply goods with a Certificate of Conformity, Certificate of Analysis and with Mechanical Properties where applicable. Mill certificates can also be provided where available.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">Can you assist with foreign and old drawing specifications?</p>
          <p class="faq-list__item__answer">Yes, our international specification comparison guide is available on the website and within our brochure. Our staff will also be happy to assist wherever possible with any other specifications from our extensive knowledge and library of specifications, which go back many years from the various different standards.</p>
        </li>

        <li class="faq-list__item">
          <p class="faq-list__item__title">Can I collect goods from you, and do you sell to the public?</p>
          <p class="faq-list__item__answer">Yes, we are open for collections Monday to Friday 9.00am - 5.00pm. We also accept cash, cheques and most major credit/debit cards.</p>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}