<!-- index.njk -->
{% extends "layout.njk" %} {% block content %} {% set activePage = "products" %}
{% include "partials/navigation.njk" %} {% import
'macros/technical-guides-macro.njk' as guide %}
<main role="main" class="main">
  <div
    class="hero hero--small tech-guides-page"
    title="Hero Image
        Services Cutting"
  >
  <div class='hero__title--center'>
  <h2 class="hero__title  hero__title--center-top">
      Technical Guides
    </h2>
    <p class="hero__sub-title hero__text ">
      Aluminium
    </p>  
  </div>
    
  </div>

  {% set guideItems = [ 
      { "guideTitle":"BS EN 573-3 FC 1 / 2011", 
        "guideInfo": "Freecutting Aluminium", 
        "guideLink": "DataSheets/TechnicalPDF/Aluminium/Acton_2011_FC_1.pdf" },

     { "guideTitle":"BS EN 573-3 HE 30 / 6082-T6", 
        "guideInfo": "General purpose Aluminium", 
        "guideLink": "DataSheets/TechnicalPDF/Aluminium/Acton_6082-T6_HE_30.pdf" }
  ] %}

  <div class="tech-guide-info about-info--grey">
    <div class="">
      <ul class="tech-document-list">
        {# A MACRO RUNS THROUGH EACH OF THE STOCK ITEMS AND GENERATES THE LIST
        #} {# SEE #} {% for guideItem in guideItems %}
        {{
          guide.item(
            guideItem.guideTitle,
            guideItem.guideInfo,
            guideItem.guideLink
          )
        }}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="background--white">
    <ul class="services-nav">
      <li  class='services-nav__btn-wrapper'>
        <img src="images/about_us/previous_icon.png" alt="previous_icon" />
        <a class="services-nav__btn previous-btn" href="techGuidesTS.html"
          >Tool Steels</a
        >
      </li>
      <li  class='services-nav__btn-wrapper'>
        <a class="services-nav__btn next-btn" href="techGuidesBrass.html"
          >Brass</a
        ><img src="images/about_us/next_icon.png" alt="next_icon" />
      </li>
    </ul>
  </div>
</main>
{% endblock %}
