<!-- index.njk -->
{% extends "layout.njk" %} {% block content %} {% set activePage = "products" %}
{% include "partials/navigation.njk" %} {% import
'macros/technical-guides-macro.njk' as guide %}
<main role="main" class="main">
  <div
    class="hero hero--small tech-guides-page"
    title="Hero Image
        Services Cutting"
  >
    <h2 class="hero__title hero__title--center hero__title--center-top">
      Technical Guides
    </h2>
    <p class="hero__sub-title hero__text hero__text--center">
      Case hardening steels
    </p>
  </div>

  {% set guideItems = [ 
      { "guideTitle":"BS970:1955 EN351 / BS970:1991 635M15", 
        "guideInfo": "Bright / black 3/4% nickel chromium case hardening steel", 
        "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_635M15_EN351.pdf" },

     { "guideTitle":"BS970:1955 EN352 / BS970:1991 637M17", 
       "guideInfo": "Bright / black 1% nickel chromium case hardening steel", 
       "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_637M17_EN352.pdf" }, 
     
     { "guideTitle":"BS970:1955 EN36B / BS970:1991 655M13", 
       "guideInfo": "Bright / black 3% nickel chromium case hardening steel",
       "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_655M13_EN36B.pdf" }, 
     
     { "guideTitle":"BS970:1955 EN34 / BS970:1991 665M17", 
       "guideInfo": "Black 2% low carbon nickel molybdenum case hardening steel",
       "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_665M17_EN34.pdf" }, 
  
  {   "guideTitle":"BS970:1955 EN353 / BS970:1991 815M17",
      "guideInfo": "Bright / black 1.1/4% nickel chromium case hardening steel",
      "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_815M17_EN353.pdf" }, 
  
  {   "guideTitle":"BS970:1995 EN39B / BS970:1991 835M15",
      "guideInfo": "Bright / Black 4.1/4% nickel chromium case hardening steel", 
      "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_835M15_EN39B.pdf" },

  {   "guideTitle":"BS970:1995 EN41B / BS970:1991 905M39",
      "guideInfo": "Black 1.1/2% chromium aluminium molybdenum nitriding steel", 
      "guideLink": "DataSheets/TechnicalPDF/CaseHardeningTools/Acton_905M39_EN41B.pdf" }


  ] %}

  <div class="tech-guide-info about-info--grey">
    <div class="">
      <ul class="tech-document-list">
        {# A MACRO RUNS THROUGH EACH OF THE STOCK ITEMS AND GENERATES THE LIST
        #} {# SEE #} {% for guideItem in guideItems %}
        {{
          guide.item(
            guideItem.guideTitle,
            guideItem.guideInfo,
            guideItem.guideLink
          )
        }}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="background--white">
    <ul class="services-nav">
      <li class='services-nav__btn-wrapper'>
        <img src="images/about_us/previous_icon.png" alt="previous_icon" />
        <a class="services-nav__btn previous-btn" href="techGuidesDHS.html"
          >Direct Hardening Steels</a
        >
      </li>
      <li class='services-nav__btn-wrapper'>
        <a class="services-nav__btn next-btn" href="techGuidesSS.html"
          >Stainless Steels</a
        ><img src="images/about_us/next_icon.png" alt="next_icon" />
      </li>
    </ul>
  </div>
</main>
{% endblock %}
