<!-- index.njk -->
{% extends "layout.njk" %} {% block content %} {% set activePage = "products" %}
{% include "partials/navigation.njk" %} {% import
'macros/technical-guides-macro.njk' as guide %}
<main role="main" class="main">
  <div
    class="hero hero--small hero--useful-info" >
  <div class='hero__title--center'>
  <h2 class="hero__title  hero__title--center-top">
      Useful Information
    </h2>
  </div>
    
  </div>

  {% set guideItems = [ 
      { "guideTitle":"INTERNATIONAL SPECIFICATION COMPARISON CHART", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/Download/IntlSpecChart.pdf" },

     { "guideTitle":"BS 970 (1991) TOLERANCES", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/BS-970-(1991)-Tolerances.pdf" },

     { "guideTitle":"ISO TOLERANCES", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/ISO-Tolerances.pdf" },
      
     { "guideTitle":"CONVERSION OF STANDARD UNITS", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/Conversion-of-Standard-Units.pdf" },
      
     { "guideTitle":"FORMULAE", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/Formulae.pdf" },
      
     { "guideTitle":"HARDNESS COMPARISON TABLE", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/Hardness-comparison-table.pdf" },
      
     { "guideTitle":" GAUGES FOR TUBES AND SHEETS (SWG)", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/Gauges-for-Tubes-Sheets(SWG).pdf" },
      
     { "guideTitle":"SURFACE QUALITY", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/#" },
      
     { "guideTitle":"CERTIFICATION TYPE", 
        "guideInfo": " ", 
        "guideLink": "DataSheets/useful-info/#" }
  ] %}

  <div class="tech-guide-info about-info--grey">
    <div class="">
      <ul class="tech-document-list">
        {# A MACRO RUNS THROUGH EACH OF THE STOCK ITEMS AND GENERATES THE LIST
        #} {# SEE #} {% for guideItem in guideItems %}
        {{
          guide.item(
            guideItem.guideTitle,
            guideItem.guideInfo,
            guideItem.guideLink
          )
        }}
        {% endfor %}
      </ul>
    </div>
  </div>
 
</main>
{% endblock %}
