.delivery {
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: url('../images/home/delivery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.delivery__content {
    margin-left: 51%;
    max-width: 440px;

}

.delivery__content__text {
    margin-top: 15px;
    color: $white;
    font-family: $font-nova-stack;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

/* Extra small devices (phones, 600px and down) */
/* Extra small devices in landscape (phones, 600px and down) */
@media only screen and (max-width: 600px),
only screen and (max-width: 812px) and (orientation: landscape) {
    .delivery__content {
        width: 80%;
        margin: 0 auto;
    }
}